@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/OpenSans-Regular.eot");
  src: url("./fonts/OpenSans-Regular.eot#iefix") format("embedded-opentype"),
    url("./fonts/OpenSans-Regular.ttf") format("truetype"),
    url("./fonts/OpenSans-Regular.woff") format("woff"),
    url("./fonts/OpenSans-Regular.svg#opensans") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: italic;
  font-weight: normal;
  src: url("./fonts/OpenSans-RegularItalic.eot");
  src: url("./fonts/OpenSans-RegularItalic.eot#iefix")
      format("embedded-opentype"),
    url("./fonts/OpenSans-RegularItalic.ttf") format("truetype"),
    url("./fonts/OpenSans-RegularItalic.woff") format("woff"),
    url("./fonts/OpenSans-RegularItalic.svg#opensans") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/OpenSans-SemiBold.eot");
  src: url("./fonts/OpenSans-SemiBold.eot#iefix") format("embedded-opentype"),
    url("./fonts/OpenSans-SemiBold.ttf") format("truetype"),
    url("./fonts/OpenSans-SemiBold.woff") format("woff"),
    url("./fonts/OpenSans-SemiBold.svg#opensans") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  src: url("./fonts/OpenSans-SemiBoldItalic.eot");
  src: url("./fonts/OpenSans-SemiBoldItalic.eot#iefix")
      format("embedded-opentype"),
    url("./fonts/OpenSans-SemiBoldItalic.ttf") format("truetype"),
    url("./fonts/OpenSans-SemiBoldItalic.woff") format("woff"),
    url("./fonts/OpenSans-SemiBoldItalic.svg#opensans") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Font Awesome 5 Pro";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/fa-regular-400.eot");
  src: url("./fonts/fa-regular-400.eot?#iefix") format("embedded-opentype"),
    url("./fonts/fa-regular-400.woff2") format("woff2"),
    url("./fonts/fa-regular-400.woff") format("woff"),
    url("./fonts/fa-regular-400.ttf") format("truetype"),
    url("./fonts/fa-regular-400.svg#fontawesome") format("svg");
}

.far {
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
}

@font-face {
  font-display: swap;
  font-family: "Font Awesome 5 Pro";
  font-style: normal;
  font-weight: 900;
  src: url("./fonts/fa-solid-900.eot");
  src: url("./fonts/fa-solid-900.eot?#iefix") format("embedded-opentype"),
    url("./fonts/fa-solid-900.woff2") format("woff2"),
    url("./fonts/fa-solid-900.woff") format("woff"),
    url("./fonts/fa-solid-900.ttf") format("truetype"),
    url("./fonts/fa-solid-900.svg#fontawesome") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Font Awesome 5 Brands";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/fa-brands-400.eot");
  src: url("./fonts/fa-brands-400.eot?#iefix") format("embedded-opentype"),
    url("./fonts/fa-brands-400.woff2") format("woff2"),
    url("./fonts/fa-brands-400.woff") format("woff"),
    url("./fonts/fa-brands-400.ttf") format("truetype"),
    url("./fonts/fa-brands-400.svg#fontawesome") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/lato-regular.eot");
  src: url("./fonts/lato-regular.eot#iefix") format("embedded-opentype"),
    url("./fonts/lato-regular.ttf") format("truetype"),
    url("./fonts/lato-regular.woff") format("woff"),
    url("./fonts/lato-regular.woff2") format("woff2"),
    url("./fonts/lato-regular.svg#Lato") format("svg");
}
